   h1{
     color: #fff;
     background-color: #333c5e;
     font-family: Impact,"Georgia";
     font-size: 2.0rem;
     text-align: center;
     margin: 1.0rem auto;
     padding: 1rem 2rem;
     max-width: 80%;
     box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.2);
    }
    

   .highlight1{ background: linear-
   gradient(transparent 80%, #333c5e 80%);}

   .highlight2{ background: linear-
   gradient(transparent 80%, #333c5e 80%);}

    .highlight3{ background: linear-
   gradient(transparent 80%, #333c5e 80%);}

.highlight4{ 
 background: linear-gradient(transparent 80%, #333c5e 80%);
}


